
.vs/

AdventOfCode/BenchmarkDotNet.Artifacts/

AdventOfCode/bin/

AdventOfCode/obj/

AdventOfCode/Input/

.idea/

AdventOfCode/Properties/launchSettings.json

AdventOfCode/session

AdventOfCode/AdventOfCode.csproj.DotSettings

AdventOfCode.sln.DotSettings.user
